body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lexend Mega", sans-serif;
  color: black;
  background-color: white;
  font-size: 18px;
  text-align: center;
 
}

a {
  color: black;
}

h2,
h3,
h4,
p {
  
  margin: 0;
  padding: 10px;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



.navbar {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.navbar p {
  display: inline-block;
  padding: 10px 10px;
}

#menu-group{
  display: none;
}

.main {
 
  padding-top: 35px;
  opacity: 0.9;
}

.mission {
  box-sizing: border-box ;
  display: flex;
  height: 300px;
  background-image: url("https://codecademy-content.s3.amazonaws.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg");
 
}

.mission .content {
  margin: auto;
  background-color: white;
  width: 100%;
}

#portfolio {
  min-height: 500px;
  margin: auto;
  padding-top: 70px;
}

.companies {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.company {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px;
  height: auto;
}

.company p {
  padding: 5px;
  min-width: 240px;
  font-weight: bold;
  text-align: center;
}

#team-container{
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
}

.team {
 
  background-image: url("https://codecademy-content.s3.amazonaws.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg");
  padding-top: 70px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.teammate {
  padding: 10px;
  color: white;
  flex-basis: 280px;
 
}

.teammate img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
}

.contact,
.copyright {
  padding-top: 20px;
}

@media only screen and (max-width: 460px) {

  #menu-group{
    display: block;
    
   
  }

  .navbar{
    display: none;

  }

  

  .company {
    box-sizing: border-box;
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }

  .company img{
    width: 80%;
   

  }

  .teammate img{
    width: 100%;
  }

  
}
